<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <title>George Maroa</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon .ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>
<body>
    <div class="scroll-button">
        <a href=""><i class="fas fa-arrow-up"></i></a>
    </div>
    <nav>
        <div class="nav-bar">
            <ul class="menu">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#contact-me">Contact</a></li>
            </ul>
        </div>
        <div class="media-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </nav>

<!-- HOME SECTION -->
    <div class="home" id="home">
        <div class="home-content">
            <h1>I'm George.</h1>
            <h2 class="my-title">TELECOM ENGINEER AND PROGRAMMER.</h2>
            <button class="cv-btn" type="button">DOWNLOAD CV</button>
            <button type="button"><a href="#about">LEARN MORE</a></button>
        </div>
    </div>

<!-- ABOUT SECTION -->
    <section class="about" id="about">
        <div class="content">
            <div class="title"><h2>About Me</h2></div>
            <div class="about-details">
                <div class="image">
                    <img src="static/images/about-modified.png" alt="profile-image">
                </div>
                <div class="about-description">
                    <p class="my-intro">Lorem ipsum dolor sit amet, vitae volutpat, dui conubia, dolor urna. Non auctor, montes nulla distinctio.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus natus tenetur tempora? Quasi, rem quas omnis.-->
                        Porro rem aspernatur reiciendis ut praesentium minima ad, quos, officia! Illo libero, et, distinctio repellat
                        sed nesciunt est modi quaerat placeat. Quod molestiae, alias?</p>
                </div>
            </div> 
        </div>
    </section>
    
    <hr>

    <section class="skills" id="skills">
        <div class="content">
            <h2>My Skills.</h2>
            <div class="skill-row">
              <img class="python-image" src="static/images/python.webp" alt="">
              <h3>Python</h3>
              <p>Lorem ipsum dolor sit amet, quis in duis, iaculis id felis. Consectetuer vestibulum, nunc urna lectus, erat ligula. Hendrerit nam, lectus ante, ut lorem eros.</p>
            </div>
            <div class="skill-row">
              <img class="html-image" src="static/images/html.webp" alt="">
              <h3>HTML5</h3>
              <p>Lorem ipsum dolor sit amet, mauris sed consectetuer. Etiam et eu, bibendum interdum, lacus quis mauris. Curabitur wisi, quisque vel eu, rutrum nam.</p>
            </div>
            <div class="skill-row">
              <img class="css-image" src="static/images/css.webp" alt="">
              <h3>CSS3</h3>
              <p>Lorem ipsum dolor sit amet, mauris sed consectetuer. Etiam et eu, bibendum interdum, lacus quis mauris. Curabitur wisi, quisque vel eu, rutrum nam.</p>
            </div>
            <div class="skill-row">
              <img class="sql-image" src="static/images/sql.gif" alt="">
              <h3>SQL</h3>
              <p>Lorem ipsum dolor sit amet, mauris sed consectetuer. Etiam et eu, bibendum interdum, lacus quis mauris. Curabitur wisi, quisque vel eu, rutrum nam.</p>
            </div>
        </div>
    </section>

    <hr>
    <section class="content" id="contact-me">
        <h2>Get In Touch</h2>
          <h3>Lorem ipsum dolor sit amet, non elit.</h3>
          <p class="contact-message">Lorem ipsum dolor sit amet, in quis, aenean amet. Phasellus sodales, tellus donec dui, ornare erat.</p>
          <a class="btn" href="mailto:name@email.com">CONTACT ME</a>
    </section>
    <hr>
    <div class="bottom-container">
        <a class="footer-link" href="https://www.linkedin.com/">LinkedIn</a>
        <a class="footer-link" href="https://twitter.com/">Twitter</a>
        <a class="footer-link" href="https://www.appbrewery.co/">Website</a>
        <p class="copyright">© 2022 George Maroa.</p>
    </div>

</body>
</html>